<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h4>Deleted post <%= @post.name%></h4>
    <p>Deleted Contennt: </p>
    <p><%=@post.content%></p>
  </body>
</html>
