
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Create Article</h1>
    <form class="article" action="/articles" method="post">
      <label for="name">Article Title: </label>
      <input id="name" type="text" name="name" id="name">
      <br>
      <label for="content">Content</label>
      <br>
      <textarea id="content" name="content" rows="20" cols="80"></textarea>
      <input id="submit" type="submit" name="submit" value="Submit">
    </form>
  </body>
</html>
